@import '~bootstrap/scss/bootstrap.scss';


/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.visual-footer {
    background-color: #0083d2;
}

//***HOME CSS
.carousel-inner img {
    height: 500px;
}

.home-text {
    font-size: 23px;
}
//**********************************************************************
//***GALLERY CSS
.gallery-text {
    font-size: 20px;
}

//**************************************************

//******************************************LOADER****************************/
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}








/*
 * Custom translucent site header
 */

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}


/*
 * Dummy devices (replace them with your own or something else entirely!)
 */
div .bg-light{
    color: black!important;
}

.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.flex-equal> * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal> * {
        -ms-flex: 1;
        -webkit-box-flex: 1;
        flex: 1;
    }
}

.overflow-hidden {
    overflow: hidden;
}
.img-responsive{
    vertical-align: middle;
    border-style: none;
    width: 393px;
    height: 300px;
    border:1px solid #021a40;
    
}

//--------------Login
.logIn{
   padding: 3em;
    border: 1px solid lightgrey;
    width: 385px;
    margin: 150px auto 0;
    position: relative;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
}

//-------------Sing Up
.signUp{
    padding: 1em;
    border: 1px solid lightgrey;
    width: 485px;
    margin: 150px auto 0;
    position: relative;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.profileMenu{
  height: calc(100vh - 196px);
}


// ---------Services
.servMant{
    background: #e6f7ff;
    font-family: 'Kalam', cursive;
}
.servRep{
    font-family: 'Kalam', cursive;
    
}

.listServ{
    font-size: 20px;
    list-style-type: none;
    font-family: 'Kalam', cursive;
}
.listServRep{
    padding-left: 40%;
    list-style-type: none;
    font-family: 'Kalam', cursive;
}

.imgMant{
    background: url(https://www.usmarinesales.com/fckimages/motors/yamaha-motors.jpg);
    width: auto;
    padding: 50px;
    position: absolute;
}
